<h1 id="signupHeader" class="header">Sign Up</h1>

<form action="/signupuser" method="POST" id="signup-form" name="signup-form">

  <div>
    <label for="firstName" id="firstName_label">
      First Name
      <input
        type="text"
        id="firstName"
        name="firstName"
        value="{{data.firstName}}"
        class="full_width_input"
      >
    </label>
    {{#if hasErrors}}
      <label
        for="firstName"
        id="firstName_error"
        class="error"
      >{{errors.firstName}}</label>
    {{/if}}
  </div>

  <div>
    <label for="lastName" id="lastName_label">
      Last Name
      <input
        type="text"
        id="lastName"
        name="lastName"
        value="{{data.lastName}}"
        class="full_width_input"
      >
    </label>
    {{#if hasErrors}}
      <label
        for="lastName"
        id="lastName_error"
        class="error"
      >{{errors.lastName}}</label>
    {{/if}}
  </div>

  <div>
    <label for="userId" id="userId_label">
      User ID
      <input
        type="text"
        id="userId"
        name="userId"
        value="{{data.userId}}"
        class="full_width_input"
      >
    </label>
    {{#if hasErrors}}
      <label
        for="userId"
        id="userId_error"
        class="error"
      >{{errors.userId}}</label>
    {{/if}}
  </div>

  <div>
    <label for="password" id="password_label">
      Password
      <input
        type="password"
        id="password"
        name="password"
        value="{{data.password}}"
        class="full_width_input"
      >
    </label>
    {{#if hasErrors}}
      <label
        for="password"
        id="password_error"
        class="error"
      >{{errors.password}}</label>
    {{/if}}
  </div>

  <div>
    <label for="confirmPassword" id="confirmPassword_label">
      Confirm Password
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        value="{{data.confirmPassword}}"
        class="full_width_input"
      >
    </label>
    {{#if hasErrors}}
      <label
        for="confirmPassword"
        id="confirmPassword_error"
        class="error"
      >{{errors.confirmPassword}}</label>
    {{/if}}
  </div>

  <div>
    <label for="favoriteQuote" id="favoriteQuote_label">
      Favorite Quote
      <input
        type="text"
        id="favoriteQuote"
        name="favoriteQuote"
        value="{{data.favoriteQuote}}"
        class="full_width_input"
      >
    </label>
    {{#if hasErrors}}
      <label
        for="favoriteQuote"
        id="favoriteQuote_error"
        class="error"
      >{{errors.favoriteQuote}}</label>
    {{/if}}
  </div>

  <div class="color">
    <label for="backgroundColor" id="backgroundColor_label">
      Background Color
      <input
        type="color"
        id="backgroundColor"
        name="backgroundColor"
        value="{{data.backgroundColor}}"
      >
    </label>
    {{#if hasErrors}}
      <label
        for="backgroundColor"
        id="backgroundColor_error"
        class="error"
      >{{errors.backgroundColor}}</label>
    {{/if}}
  </div>

  <div class="color">
    <label for="fontColor" id="fontColor_label">
      Font Color
      <input
        type="color"
        id="fontColor"
        name="fontColor"
        value="{{data.fontColor}}"
      >
    </label>
    {{#if hasErrors}}
      <label
        for="fontColor"
        id="fontColor_error"
        class="error"
      >{{errors.fontColor}}</label>
    {{/if}}
  </div>

  <div>
    <label for="role" id="role_label">
      Role
      <select id="role" name="role">
        <option
          value="admin"
          id="admin_option"
          class="role_option"
          {{#if wantsAdmin}}
            selected
          {{/if}}
        >Admin</option>
        <option
          value="user"
          id="user_option"
          class="role_option"
          {{#if wantsUser}}
            selected
          {{/if}}
        >User</option>
      </select>
    </label>
    {{#if hasErrors}}
      <label for="role" id="role_error" class="error">{{errors.role}}</label>
    {{/if}}
  </div>

  <div class="centerDiv">
    <button type="submit" id="submitButton" name="submitButton">
      Sign Up
    </button>
  </div>

  <div class="centerDiv">
    {{#if hasErrors}}
      <div>
        <label
          for="submitButton"
          id="submitButton_error"
          class="error"
        >{{errors.other}}</label>
      </div>
    {{/if}}
  </div>

  <div class="centerDiv">
    <ul id="client_signup_error"></ul>
  </div>

</form>

<div class="singleLink">
  <a href="/signinuser" class="link">Already have an account? Click here to
    sign-in</a>
</div>

<script src="/public/js/form_validate.js"></script>