<div id="userView">

  <p id="welcome">Welcome
    {{firstName}}
    {{lastName}}, the time is now:
    {{currentTime}}
    and the current date is
    {{currentDate}}. Your role in the system is:
    {{role}}.</p>

  <p id="quote">Favorite Quote: {{favoriteQuote}}</p>

  {{#if isAdmin}}
    <a id="adminLink" class="link" href="/administrator">Administrator Page</a>
  {{/if}}

  <a id="signoutLink" class="link" href="/signoutuser">Sign out</a>

</div>